 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  width: 499px;
  margin: 61px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-style: normal;
  width: 363px;
  margin: 25px auto 0;
}

.u-section-1 .u-list-1 {
  width: 810px;
  margin: 60px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 250px;
  --gap: 0px;
  grid-auto-columns: 50%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 9px;
}

.u-section-1 .u-icon-1 {
  width: 61px;
  height: 61px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px 35px 0;
}

.u-section-1 .u-text-4 {
  margin: 17px 35px 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 9px;
}

.u-section-1 .u-icon-2 {
  width: 61px;
  height: 61px;
  background-image: none;
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px 35px 0;
}

.u-section-1 .u-text-6 {
  margin: 17px 35px 0;
}

.u-section-1 .u-image-1 {
  width: 810px;
  height: 360px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-gap: 0px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 34px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 240px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 151px;
  }
}